<mat-card
  class="place-card"
  (click)="showOnMap()"
  appHoverElevation>
  <div 
    class="card-content"
    [ngClass]="{'content-in-row': !(isHandset | async)!.matches}">
    
    <span class="place-title">
      {{ place.name }}
    </span>

    <table class="coordinates-block">
      <tr>
        <td>Latitude: </td>
        <td>{{ place.latitude | number: '1.6-6' }}</td>
      </tr>
      <tr>
        <td>Longitude: </td>
        <td>{{ place.longitude | number: '1.6-6' }}</td>
      </tr>
    </table>
  </div>

  <button
    mat-raised-button
    appPreventBubbling
    color="warn"
    class="delete-button"
    (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>