.place-title {
  font-size: 20px;
  font-weight: 500;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  display: inline-block;
}

.delete-button {  
  min-width: 30px;
  padding: 6px 2px;
  color: #fff;
  line-height: 16px;
  box-sizing: content-box;
}

.place-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
  min-width: 0;
}

.coordinates-block {
  display: inline-block;
}

.content-in-row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}