.dialog-actions {
  display: flex;
  justify-content: center;
}

.dialog-additional {
  margin-bottom: 10px;
  text-align: justify;
}

.error-message {
  text-align: center;
  margin-top: 0;
}

.dialog-title {
  text-align: center;
}

.additional-info-wrapper {
  overflow-y: auto;
  max-height: 20vh;
  padding-right: 20px;
}

.link, .link:visited {
  color: #000;
}
