<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" [autoFocus]="false" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/places" class="sidenav-item-link">
        <mat-icon class="icon nav-item-icon">room</mat-icon>

        <span class="label">Places</span>
      </a>

      <a mat-list-item routerLink="/map" class="sidenav-item-link">
        <mat-icon class="icon nav-item-icon">map</mat-icon>

        <span class="label">Map</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-container">
    <mat-toolbar color="primary" class="nav-toolbar">
      <div
        class="hamburger"
        *ngIf="(isHandset | async)!.matches">

        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="title">
        <a routerLink="/" class="nav-item-link">Geolocation</a>
      </div>


      <div class="spacer"></div>

      <ul
        class="nav-items"
        *ngIf="!(isHandset | async)!.matches">
        
        <li routerLinkActive="nav-item-active">
          <a routerLink="/places">
            <span class="nav-item-link">
              <mat-icon class="icon nav-item-icon">room</mat-icon>
  
              <span class="label">Places</span>
            </span>
          </a>
        </li>
        
        <li routerLinkActive="nav-item-active">
          <a routerLink="/map">
            <span class="nav-item-link">
              <mat-icon class="icon nav-item-icon">map</mat-icon>
  
              <span class="label">Map</span>
            </span>
          </a>
        </li>
      </ul>
    </mat-toolbar>

    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
