<div class="map-container">
  <agm-map
    class="map"
    [latitude]="latitude" 
    [longitude]="longitude"
    [zoom]="5"
    [streetViewControl]="false">

    <agm-marker 
      *ngFor="let place of places"
      [latitude]="place.latitude"
      [longitude]="place.longitude">

      <agm-snazzy-info-window
        [maxWidth]="300"
        [pointer]="15"
        padding="0"
        [latitude]="place.latitude"
        [longitude]="place.longitude"
        [isOpen]="place.visible"
        [panOnOpen]="true"
        [closeWhenOthersOpen]="true"
        [closeOnMapClick]="true"
        [showCloseButton]="false"
        (isOpenChange)="windowToggled($event, place)">

        <ng-template>
          <div class="info-window-container">
            <div class="buttons-container">
              <div class="buttons-wrapper">

                <button
                  title="Close"
                  mat-raised-button
                  color="warn"
                  class="info-window-button"
                  (click)="closeWindow(place)">
                  <mat-icon class="icon-16px">close</mat-icon>
                </button>

                <button
                  title="Edit"
                  mat-raised-button
                  color="primary"
                  class="info-window-button">
                  <mat-icon class="icon-16px">edit</mat-icon>
                </button>
              </div>
            </div>
  
            <div class="info-container">

              <mat-toolbar class="info-window-header">
                <p [title]="place.name">{{place.name}}</p>
              </mat-toolbar>
  
              <div class="info-window-content">
                <p>{{place.description}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
  <app-loading *ngIf="loading"></app-loading>
</div>
