.places-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.places-list-block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.places-add-block {
  margin-bottom: 20px;
}

.container-in-row {
  flex-direction: row;
  align-items: stretch;

  .places-list-block, .places-add-block {
    max-width: calc(50% - 10px);
    flex-grow: 1;
  }
}

.places-add-margin {
  margin-right: 20px;
  margin-bottom: 0px;
}
