.places-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.container-in-row {
  flex-direction: row;
  align-items: stretch;
}

.places-add-block {
  flex: 1;
  margin-bottom: 20px;
}

.places-list-block {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.places-add-margin {
  margin-right: 20px;
  margin-bottom: 0px;
}
