@import '~@angular/material/theming';

@include mat-core();

$geolocation-app-primary: mat-palette($mat-green);
$geolocation-app-accent:  mat-palette($mat-teal, 400, 300, 600);

$geolocation-app-theme: mat-light-theme($geolocation-app-primary, $geolocation-app-accent);

@include angular-material-theme($geolocation-app-theme);
