<section class="mat-card place-add-container">
  <mat-tab-group dynamicHeight="true" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">
          my_location
        </mat-icon>

        By coordinates
      </ng-template>

      <form
        class="form-in-tab"
        [formGroup]="formWithCoords" 
        (ngSubmit)="submitWithCoords()">
        <mat-form-field>
          <input 
            matInput 
            placeholder="Name" 
            type="text" 
            formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Latitude" 
            type="number" 
            formControlName="latitude">
        </mat-form-field>
        <mat-form-field>
          <input 
            matInput 
            placeholder="Longitude" 
            type="number" 
            formControlName="longitude">
        </mat-form-field>
        
        <mat-form-field>
          <textarea
            matInput 
            cdkTextareaAutosize="true"
            placeholder="Description" 
            formControlName="description"></textarea>
        </mat-form-field>

        <button 
          mat-raised-button 
          type="submit" 
          [disabled]="!formWithCoords.valid"
          color="primary"
          class="white-text-button">
          <mat-icon class="icon">
            add
          </mat-icon>
          Add place
        </button>
      </form>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">
          location_city
        </mat-icon>

        By city
      </ng-template>

      <form
        class="form-in-tab"
        [formGroup]="formWithCity" 
        (ngSubmit)="submitWithCity()">
        <mat-form-field>
          <input 
            matInput 
            placeholder="City" 
            type="text" 
            formControlName="city"
            [matAutocomplete]="autoComplete">

          <mat-autocomplete
            #autoComplete="matAutocomplete">
            <mat-option
              *ngFor="let suggestion of (suggestions | async)"
              [value]="suggestion">
              {{suggestion.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize="true"
            placeholder="Description" 
            formControlName="description"></textarea>
        </mat-form-field>

        <button 
          mat-raised-button 
          type="submit" 
          [disabled]="!formWithCity.valid"
          color="primary"
          class="white-text-button">
          <mat-icon class="icon">
            add
          </mat-icon>

          Add place
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</section>
