.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.form-error {
  margin-bottom: 5px;
}

.form-in-tab {
  padding: 20px;
}

.white-text-button {
  display: block;
  margin: 0 auto;
  color: #fff;
  padding: 5px 20px 5px 12px;
}

.place-add-container {
  padding: 0;
}
